<h1>Detalles del Carrito</h1>
    <p><strong>Número de Carrito:</strong> {{cartNumber}}</p>
    <h2>Productos en el Carrito:</h2>
    <ul>
        {{#each products}}
            <li>
                <strong>Nombre del Producto:</strong> {{productId.title}}<br>
                <strong>Cantidad:</strong> {{quantity}}<br>
                <strong>Precio:</strong> ${{productId.price}}<br>
                <hr>
            </li>
        {{/each}}
    </ul>
<a href="/api/carts">Volver a la lista de carritos</a>