<article>
    <form action="/login" method="post">
    <header>
        <h1>Login</h1>
    </header>

    
    <input type="email" name="email" placeholder="Correo" required>
    <input type="password" name="password" placeholder="contraseña" required>


    <footer>
        <input type="submit" value="Enviar">
    </footer>

    <br><br>
    <a href="/">Volver</a>
    <br>
    <a href="/recovery">Recuperar contraseña</a>
    <br>
    <a href="/register">Registrarse</a>
    <br>
    <a href="/session/github" role="button">Entrar con github</a>
    </form>
</article>